@import "src/assets/styles/colors.scss";
@import "src/assets/styles/fonts.scss";

.appWrapper {
  position: relative;
  width: 1440px;
  height: 820px;
  background: $gray9;
  border-radius: 30px;
}

.containerWrapper {
  position: absolute;
  width: 1354px;
  height: 730px;
  left: 43px;
  top: 43px;
  background: $black;
  border-radius: 28px;
}

.navBar {
  display: flex;
  margin: 40px 0 0 90px;
}

.navBarItem {
  @include h1;
  text-align: center;
  letter-spacing: -0.408px;
  color: $white;
  margin-right: 38px;
  cursor: pointer;
}
