// blue
$skyBlue: #007aff;

// gray
$white: #ffffff;
$gray1: #9c9c9d;
$gray2: #3a3a39;
$gray3: #9c9c9d;
$gray4: #c5c6c6;
$gray5: #9c9c9d;
$gray6: #6e6e6e;
$gray7: rgba(118, 118, 128, 0.24);
$gray8: rgba(235, 235, 245, 0.6);
$gray9: #1f2223;
$black: #000000;
