@mixin h1 {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
}

@mixin h2 {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
}
